*.pyc

# 빌드 파일
build/
dist/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# 가상환경
venv/
env/
ENV/
vnev/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
